.containerAbout {
    padding: 3% 15% 0% 15%;

    min-height: 100vh;

    background: transparent;
    background-color: #181A1B;
}

.imageAbout {
    width: 100%;
}

.titleAbout1 {
    font-size: 2.5rem;
    font-weight: bolder;

    color: #D4D2D0;
}

.descriptionAbout {
    font-size: 1.1rem;
    text-align: justify;

    margin-bottom: 5%;

    color: #a8a8a8;
}

.buttonAbout{
    margin: 5% 0% 10% 0%;
    padding: 10px 50px 10px 50px !important;
}