.containerContact {
    padding: 3% 15% 0% 15%;

    min-height: 70vh;

    background: transparent;
    background-color: #000000;
}

.titleContact {
    text-align: center;
    font-size: 3rem;

    color: #D4D0CA;
}

.contactText {
    padding-top: 10px;

    text-align: center;
    font-size: 1.1rem;

    color: #D4D0CA;
}

.formAppearance {
    width: 300px;

    border: 1px solid #4b4b4b !important;

    background-color: gainsboro;
    font-weight: 700 !important;

    color: black !important;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContact{
    margin: 3% 0% 3% 0%;
    padding: 10px 50px 10px 50px !important;
}